<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div>
    <div class="container body-content">
        <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
        <h2>View Assets</h2>
        <ul>
            <li th:each="asset : ${assets}">
                <a th:href="@{/asset/details(asset=${asset.name})}" th:text="${asset.name}"></a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>